In [31]:
import numpy as np
path = "/Users/jiazhixiang/doc/python-data-analysis/data/test.csv"

In [32]:
t1 = np.genfromtxt(path,delimiter=',')

In [33]:
t1

array([[  nan,   nan],
       [23.53, 24.16],
       [22.8 , 23.53],
       ...,
       [12.8 , 12.9 ],
       [12.52, 12.7 ],
       [12.25, 12.52]])

In [10]:
#nan not a number #表示不是一个数字，是numpy中的空值
#np.nan 是一个float类型

np.nan

nan

In [11]:
type(np.nan)

float

In [12]:
1 == 1

True

In [15]:
np.nan == np.nan

False

In [16]:
# 判断array中是否有缺失值
np.all(t1==t1)

False

In [17]:
np.nan + 10

nan

In [34]:
t1 = t1[1:]
t1

array([[23.53, 24.16],
       [22.8 , 23.53],
       [22.88, 22.82],
       ...,
       [12.8 , 12.9 ],
       [12.52, 12.7 ],
       [12.25, 12.52]])

In [35]:
np.mean(t1,axis=0)

array([nan, nan])

In [36]:
t1

array([[23.53, 24.16],
       [22.8 , 23.53],
       [22.88, 22.82],
       ...,
       [12.8 , 12.9 ],
       [12.52, 12.7 ],
       [12.25, 12.52]])

In [ ]:
tt = t1[:2,1]
tt

In [48]:
col_2 = t1[:,1]  # 取出第二列的值
col_2_not_nan = col_2[col_2 == col_2]   # 取出第二列中不为nan的值
mean_ = np.mean(col_2_not_nan)  # 计算不为nan的均值
col_2[col_2!=col_2] = mean_  # 取出第二列中为nan的值，进行复制

array([24.16, 23.53, 22.82, ..., 12.9 , 12.7 , 12.52])

In [49]:
col_2

array([24.16, 23.53, 22.82, ..., 12.9 , 12.7 , 12.52])