```
DataFrame（数据表）是一种 2 维数据结构，数据以表格的形式存储，分成若干行和列。通过 DataFrame，你能很方便地处理数据。

调用DataFrame()可以将多种格式的数据转换为DataFrame对象，它的的三个参数data、index和columns分别为数据、行索引和列索引。

DataFrame的数据结构类似Excel或者SQL中表
```

In [2]:
from pandas import Series,DataFrame

In [4]:
# 创建一个二维列表存储选手信息
lol_list = [
    ['上单','theshy',20],
    ['打野','theshy',21],
    ['中单','theshy',22],
    ['ADC','theshy',23],
    ['辅助','theshy',24]
]

In [6]:
# 创建dataframe
df = DataFrame(data=lol_list) # 调用DataFrame()将二维列表转换为DataFrame对象，行列索引使用的是默认0-N数字代表。
df

     0       1   2
0   上单  theshy  20
1   打野  theshy  21
2   中单  theshy  22
3  ADC  theshy  23
4   辅助  theshy  24

### 我们可以通过给DataFrame构造函数中的参数`index`,`columns`传值，来设定DataFrame的中的行列索引的值。

In [8]:
# index行索引    columns列索引
df2 = DataFrame(data=lol_list,index=['a','b','c','d','e'],columns=['位置','ID号','年龄'])
df2

    位置     ID号  年龄
a   上单  theshy  20
b   打野  theshy  21
c   中单  theshy  22
d  ADC  theshy  23
e   辅助  theshy  24

## 使用字典来创建一个DataFrame数据

In [9]:
# 使用字典创建
dic = {
    "位置":['上单','打野','中单','ADC','辅助'],
    "ID号":['TheShy','小天','Faker','Uzi','ming'],
    "year":[20,21,22,23,24]
}

In [10]:
df3 = DataFrame(data=dic)
df3   # 通过结果可以看出当字典格式的数据被dataframe整理后，字典的键将作为数据的列索引值

    位置     ID号  year
0   上单  TheShy    20
1   打野      小天    21
2   中单   Faker    22
3  ADC     Uzi    23
4   辅助    ming    24

In [12]:
# 通过 DataFrame，你能很方便地处理数据。常见的操作比如选取、替换行或列的数据，还能重组数据表、修改索引、多重筛选等。
# 我们基本上可以把 DataFrame 理解成一组采用同样索引的 Series 的集合。