# 数据的维度是一维还是二维的我们可以使用ndim查看，数据的行数和列数shape，以及行列的索引值index、columns。

In [1]:
import pandas as pd

In [2]:
df_dict = {
    'name':['ZhangSan','LiSi','WangWu','ZhaoLiu'],
    'age':['18','20','19','22'],
    'weight':['50','55','60','80']
}
df = pd.DataFrame(data=df_dict,index=['001','002','003','004'])

In [3]:
df.ndim

2

In [8]:
# 获取行数和列数
df.shape

(4, 3)

In [12]:
# 获取行索引
df.index
df.index.tolist()    # to_list()

['001', '002', '003', '004']

In [13]:
# 获取列索引
df.columns.to_list()    # to_list()

['name', 'age', 'weight']

In [15]:
# 获取前两条
df.head(2)

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55

In [17]:
# 获取后两条
df.tail(2)

        name age weight
003   WangWu  19     60
004  ZhaoLiu  22     80

In [ ]:
# df[]不支持直接输入标签索引获取行数据，例如：df['001']
# 这种方式可以获取一列数据，列如：df['name']
# 如果想获取多行里面的某几列可写成：df[行][列]，例如：df[1:3][['name','age']],将列索引值放到同一个列表中，再将列表放到第二个方括号中

In [24]:
df

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60
004   ZhaoLiu  22     80

### 通过位置索引切片获取

In [19]:
# 通过位置索引切片获取一行
print(df[0:1])

         name age weight
001  ZhangSan  18     50

In [20]:
# 通过位置索引切片获取多行
print(df[1:3])

       name age weight
002    LiSi  20     55
003  WangWu  19     60

In [21]:
# 获取多行里面的某几列
print(df[1:3][['name','age']])

       name age
002    LiSi  20
003  WangWu  19

In [22]:
# 获取DataFrame的列
print(df['name'])

001    ZhangSan
002        LiSi
003      WangWu
004     ZhaoLiu
Name: name, dtype: object

In [23]:
# 如果获取多个列
print(df[['name','age']])

         name age
001  ZhangSan  18
002      LiSi  20
003    WangWu  19
004   ZhaoLiu  22

```
df[]不支持直接输入标签索引获取行数据，例如：df['001']
这种方式可以获取一列数据，列如：df['name']
如果想获取多行里面的某几列可写成：df[行][列]，例如：df[1:3][['name','age']],将列索引值放到同一个列表中，再将列表放到第二个方括号中
```

# 行标签索引筛选loc[ ]

In [29]:
import pandas as pd

df_dict = {
    'name':['ZhangSan','LiSi','WangWu','ZhaoLiu'],
    'age':['18','20','19','22'],
    'weight':['50','55','60','80']
}
df = pd.DataFrame(data=df_dict,index=['001','002','003','004'])
print(df)

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60
004   ZhaoLiu  22     80

In [30]:
# 获取某一行某一列的数据
df.loc['001','name']

'ZhangSan'

In [31]:
# 某一行多列的数据
df.loc['001',['name','weight']]

name      ZhangSan
weight          50
Name: 001, dtype: object

# 一行所有列
df.loc['001',:]

In [34]:
# 选择间隔的多行多列
df.loc[['001','003'],['name','weight']]

         name weight
001  ZhangSan     50
003    WangWu     60

In [35]:
# 选择连续的多行和间隔的多列
df.loc['001':'003','name':'weight']

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60

In [ ]:
# df.loc[] 通过标签索引获取行数据，它的语法结构是这样的：df.loc[[行],[列]]，方括号中用逗号分隔，左侧是行、右侧是列。
# 千万注意：如果行或者列使用切片的时候，要把方括号去掉，列df.loc['001':'003','name':'weight']。

# 行位置索引筛选iloc[ ]

In [1]:
import pandas as pd

df_dict = {
    'name':['ZhangSan','LiSi','WangWu','ZhaoLiu'],
    'age':['18','20','19','22'],
    'weight':['50','55','60','80']
}
df = pd.DataFrame(data=df_dict,index=['001','002','003','004'])
print(df)

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55
003    WangWu  19     60
004   ZhaoLiu  22     80

In [38]:
# 取一行
print(df.iloc[0])

name      ZhangSan
age             18
weight          50
Name: 001, dtype: object

In [7]:
# 连续取多行
df.iloc[0:2]

         name age weight
001  ZhangSan  18     50
002      LiSi  20     55

In [41]:
# 取间断的多行
df.iloc[[0,2],:]

         name age weight
001  ZhangSan  18     50
003    WangWu  19     60

In [10]:
# 取某一列
df.iloc[:,1]

001    18
002    20
003    19
004    22
Name: age, dtype: object

In [12]:
# 取某一行
df.iloc[:,0]

001    ZhangSan
002        LiSi
003      WangWu
004     ZhaoLiu
Name: name, dtype: object

In [13]:
# 取某一个值
df.iloc[1,0]

'LiSi'

## iterrows(): 按行遍历，将DataFrame的每一行转化为(index, Series)对。index为行索引值，Series为该行对应的数据。

In [47]:
df.iterrows()

In [49]:
for index,row_data in df.iterrows():
    print(index,row_data)

001 name      ZhangSan
age             18
weight          50
Name: 001, dtype: object
002 name      LiSi
age         20
weight      55
Name: 002, dtype: object
003 name      WangWu
age           19
weight        60
Name: 003, dtype: object
004 name      ZhaoLiu
age            22
weight         80
Name: 004, dtype: object

## iteritems():按列遍历，将DataFrame的每一列转化为(column, Series)对。column为列索引的值，Series为该列对应的数据。

In [55]:
df.iteritems()

In [54]:
for col,col_data in df.iteritems():
    print(col)

name
age
weight