In [ ]:
# Excel文件的读取和csv的读取方式相似，to_csv()读取csv文件，to_excel()读取Excel文件。
# to_csv()会比to_excel()少一个sheet_name的参数，这个参数就是可以指定表的名字。

In [ ]:
# import pandas as pd
# sheet1 = pd.read_excel('/data/course_data/data_analysis/sheet.xlsx',sheet_name='sheet1')
# print(sheet1.head())

# sheet2 = pd.read_excel('/data/course_data/data_analysis/sheet.xlsx',sheet_name='sheet2')
# print(sheet2.head())

In [1]:
path = './People_Information.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(path)

In [4]:
df

   Unnamed: 0   姓名  年龄     薪资 婚姻状况
0           1   李白  25    10k   NO
1           2  王昭君  28  12.5k   NO
2           3  诸葛亮  27    20k  YES
3           4  狄仁杰  25    14k  YES
4           5  孙尚香  30    12k   NO
5           6   妲己  29    17k   NO
6           7   周瑜  25    18k   NO
7           8   张飞  32    21k  YES
8           9  王昭君  28    22k   NO
9          10   大乔  26  21.5k  YES

In [5]:
df.shape

(10, 5)

In [ ]:
# read_csv()的header参数默认是0，取第一行的值，可以根据具体的要求设置header的值来确定列索引。
# 如果都不满足的你的要求，可以将header设置为None，列索引值会使用默认的1、2、3、4，之后在自行设置。