In [1]:
import pandas as pd

In [2]:
path = '../data/forbes_2018.xlsx'

In [3]:
df = pd.read_excel(path)

In [4]:
df

,name,lastName,age,country,gender,wealthSource
0,Jeff Bezos,Bezos,54,United States,M,Amazon
1,Bill Gates,Gates,62,United States,M,Microsoft
2,Warren Buffett,Buffett,87,United States,M,Berkshire Hathaway
3,Bernard Arnault,Arnault,69,France,M,LVMH
4,Mark Zuckerberg,Zuckerberg,34,United States,M,Facebook
...,...,...,...,...,...,...
2026,Wu Chung-yi,Wu,59,Taiwan,M,manufacturing
2027,Yao Xinyi,Yao,53,China,M,air conditioning
2028,Zhao Xiaoqiang,Zhao,51,China,M,"fashion, entertainment"
2029,Zhu Xingming,Zhu,51,China,M,electrical equipment
2030,Zhuo Jun,Zhuo,52,Hong Kong,F,printed circuit boards

## groupby

### Pandasæä¾›äº†ä¸€ä¸ªçµæ´»é«˜æ•ˆçš„`groupby`åŠŸèƒ½ï¼Œå®ƒä½¿ä½ èƒ½ä»¥ä¸€ç§è‡ªç„¶çš„æ–¹å¼å¯¹æ•°æ®é›†è¿›è¡Œåˆ‡ç‰‡ã€åˆ‡å—ã€æ‘˜è¦ç­‰æ“ä½œã€‚

In [5]:
groups = df.groupby('gender')  # path = '../data/forbes_2018.xlsx'

In [6]:
groups

In [7]:
# æ ¹æ®ç»“æœå¯ä»¥å‘ç°ï¼Œåˆ†ç»„åçš„ç»“æœä¸º`DataFrameGroupBy object`ï¼Œæ˜¯ä¸€ä¸ªåˆ†ç»„åçš„å¯¹è±¡ã€‚

# ç”¨groupbyçš„sizeæ–¹æ³•å¯ä»¥æŸ¥çœ‹åˆ†ç»„åæ¯ç»„çš„æ•°é‡ï¼Œå¹¶è¿”å›ä¸€ä¸ªå«æœ‰åˆ†ç»„å¤§å°çš„Seriesï¼š

In [8]:
groups.size()

gender
F     221
M    1810
dtype: int64

In [9]:
groups.size().items()

In [10]:
for gender,value in groups.size().items():
    print(gender)

F
M

In [11]:
for gender,value in groups.size().items():
    print(value)

221
1810

In [13]:
# df.shape    # (2031, 6)
df.shape[0]

2031

In [14]:
for gender,value in groups.size().items():
    # è®¡ç®—æ¯ç»„çš„å æ¯”
    accounted = value/df.shape[0]
    print(accounted)

0.10881339241752831
0.8911866075824717

In [24]:
for gender,value in groups.size().items():
    # è®¡ç®—æ¯ç»„çš„å æ¯”
    accounted = value/df.shape[0]
    # å°†å°æ•°è½¬åŒ–æˆç™¾åˆ†æ•°
    per_c = "%.2f%%"%(accounted * 100)
    print("ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­{}å…±{}ä½ï¼Œå æ¯”æ˜¯{}".format(gender,value,per_c))

ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­Få…±221ä½ï¼Œå æ¯”æ˜¯10.88%
ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­Må…±1810ä½ï¼Œå æ¯”æ˜¯89.12%

In [25]:
for gender,value in groups.size().items():
    # è®¡ç®—æ¯ç»„çš„å æ¯”
    accounted = value/df.shape[0]
    # å°†å°æ•°è½¬åŒ–æˆç™¾åˆ†æ•°
    per_c = "%.2f%%"%(accounted * 100)
    if gender == 'F':
        gender = 'Female'
    elif gender == 'M':
        gender = 'Male'
    print("ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­{}å…±{}ä½ï¼Œå æ¯”æ˜¯{}".format(gender,value,per_c))

ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­Femaleå…±221ä½ï¼Œå æ¯”æ˜¯10.88%
ç¦å¸ƒæ–¯2018å¹´åº¦äº¿ä¸‡å¯Œç¿ä¸­Maleå…±1810ä½ï¼Œå æ¯”æ˜¯89.12%

### `df.groupby('gender')`æ˜¯æ ¹æ®`gender`åˆ—å¯¹æ•´ä¸ªæ•°æ®è¿›è¡Œåˆ†ç»„ï¼Œ
### åŒæ ·æˆ‘ä»¬ä¹Ÿå¯ä»¥åªå¯¹ä¸€åˆ—æ•°æ®è¿›è¡Œåˆ†ç»„ï¼Œåªä¿ç•™æˆ‘ä»¬éœ€è¦çš„åˆ—æ•°æ®ã€‚

ä¾‹å¦‚ï¼šæˆ‘ä»¬é€šè¿‡æ€§åˆ«`gender`ï¼Œåªå¯¹`age`åˆ—æ•°æ®è¿›è¡Œåˆ†ç»„ã€‚

In [28]:
group = df['age'].groupby(df['gender'])

In [31]:
group.size()

gender
F     221
M    1810
Name: age, dtype: int64

In [32]:
group.groups

{'F': Int64Index([  15,   17,   31,   33,   42,   56,   69,   78,   80,   83,
             ...
             1958, 1960, 1970, 1978, 1987, 1989, 1999, 2017, 2018, 2030],
            dtype='int64', length=221),
 'M': Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
             ...
             2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029],
            dtype='int64', length=1810)}

In [36]:
# print(group.get_groups('F'))   # ä¸æ˜¯get_groups()
print(group.get_group('F'))

15      68
17      64
31      56
33      78
42      36
        ..
1989    47
1999    56
2017    51
2018    91
2030    52
Name: age, Length: 221, dtype: int64

ä»£ç `df['age'].groupby(df['gender'])`çš„é€»è¾‘æ˜¯ï¼šå–å‡ºdfä¸­ageåˆ—æ•°æ®ï¼Œå¹¶ä¸”å¯¹è¯¥åˆ—æ•°æ®æ ¹æ®`df['gender']`åˆ—æ•°æ®è¿›è¡Œåˆ†ç»„æ“ä½œã€‚

ä¸Šé¢çš„å¸¦ä¹Ÿå¯æ”¹å†™æˆ`df.groupby(df['gender'])['age']`ï¼Œå®ƒçš„é€»è¾‘æ˜¯ï¼šå°†dfæ•°æ®é€šè¿‡`df['gender']`è¿›è¡Œåˆ†ç»„ï¼Œç„¶åå†å–å‡ºåˆ†ç»„åçš„ageåˆ—æ•°æ®ã€‚ä¸¤ç§å†™æ³•è¾¾åˆ°çš„æ•ˆæœæ˜¯ä¸€æ ·çš„ã€‚

`group.groups`çš„ç»“æœæ˜¯ä¸€ä¸ªå­—å…¸ï¼Œå­—å…¸çš„keyæ˜¯åˆ†ç»„åæ¯ä¸ªç»„çš„åå­—ï¼Œå¯¹åº”çš„å€¼æ˜¯åˆ†ç»„åçš„æ•°æ®ï¼Œæ­¤æ–¹æ³•æ–¹ä¾¿æˆ‘ä»¬äº§çœ‹åˆ†ç»„çš„æƒ…å†µã€‚

`group.get_group('F')`è¿™ä¸ªæ–¹æ³•å¯ä»¥æ ¹æ®å…·ä½“åˆ†ç»„çš„åå­—è·å–æ¯ä¸ªç»„çš„æ•°æ®ã€‚

### å¯¹åˆ†ç»„è¿›è¡Œéå†

In [42]:
import pandas as pd
df = pd.read_excel(path)
groups = df.groupby('gender')
# è·å–Fç»„çš„æ•°æ®
f_group = groups.get_group('F')
# è·å–å¹³å‡å€¼
f_mean = f_group['age'].mean()
# è·å–æœ€å¤§å€¼
f_max = f_group['age'].max()
# è·å–æœ€å°å€¼
f_min = f_group['age'].min()
# print(f_mean,f_max,f_min)
# print("Fç»„çš„æ•°æ®{}".format(f_group))
print("å¹³å‡å€¼:{}".format(f_mean))
print("æœ€å¤§å€¼:{}".format(f_max))
print("æœ€å°å€¼:{}".format(f_min))

å¹³å‡å€¼:60.470588235294116
æœ€å¤§å€¼:94
æœ€å°å€¼:21

ä»£ç ä¸­æˆ‘ä»¬ä½¿ç”¨`get_group()`è·å–äº†Fç»„çš„æ•°æ®ï¼Œå¹¶ä½¿ç”¨`mean()`ã€`max()`ã€`min()`ç­‰ç»Ÿè®¡å‡½æ•°å¿«é€Ÿè·å–æˆ‘ä»¬çš„æŒ‡æ ‡å€¼ã€‚

pandasé‡Œå¸¸ç”¨çš„ç»Ÿè®¡å‡½æ•°åŒ…æ‹¬ï¼š

- `count( )`ï¼šç»Ÿè®¡åˆ—è¡¨ä¸­éç©ºæ•°æ®çš„ä¸ªæ•°
- `nunique( )`ï¼šç»Ÿè®¡éé‡å¤çš„æ•°æ®çš„ä¸ªæ•°
- `sum( )`ï¼šç»Ÿè®¡åˆ—è¡¨ä¸­æ‰€æœ‰æ•°å€¼çš„å’Œ
- `mean( )`ï¼šè®¡ç®—åˆ—è¡¨ä¸­æ•°æ®çš„å¹³å‡å€¼
- `median( )`ï¼šç»Ÿè®¡åˆ—è¡¨ä¸­æ•°æ®çš„ä¸­ä½æ•°
- `max( )`ï¼šæ±‚åˆ—è¡¨ä¸­æ•°æ®çš„æœ€å¤§å€¼
- `min( )`ï¼šæ±‚æ‰¾åˆ—è¡¨ä¸­æ•°æ®çš„æœ€å°å€¼

In [57]:
# å°†åˆ†ç»„åçš„å¯¹è±¡`groups`è¿›è¡Œéå†ï¼Œå¯ä»¥è·å–åˆ°`group_name`æ¯ä¸ªç»„çš„åå­—ï¼Œ`group_df`æ¯ä¸ªç»„çš„æ•°æ®ã€‚
for group_name,group_df in groups:
    print(group_name,group_df.shape)

F                               name            lastName  age        country  \
15                    Alice Walton              Walton   68  United States
17    Francoise Bettencourt Meyers  Bettencourt Meyers   64         France
31                 Susanne Klatten             Klatten   56        Germany
33                 Jacqueline Mars                Mars   78  United States
42                     Yang Huiyan                Yang   36          China
...                            ...                 ...  ...            ...
1989                  Sara Blakely             Blakely   47  United States
1999                 Huang Xiaofen               Huang   56          China
2017             Carolyn Rafaelian           Rafaelian   51  United States
2018                Alice Schwartz            Schwartz   91  United States
2030                      Zhuo Jun                Zhuo   52      Hong Kong

     gender            wealthSource
15        F                 Walmart
17        F                 L'Oreal
31        F    BMW, pharmaceuticals
33        F         candy, pet food
42        F             real estate
...     ...                     ...
1989      F                   Spanx
1999      F  printed circuit boards
2017      F                 jewelry
2018      F                 biotech
2030      F  printed circuit boards

[221 rows x 6 columns]
M                  name    lastName  age        country gender  \
0          Jeff Bezos       Bezos   54  United States      M
1          Bill Gates       Gates   62  United States      M
2      Warren Buffett     Buffett   87  United States      M
3     Bernard Arnault     Arnault   69         France      M
4     Mark Zuckerberg  Zuckerberg   34  United States      M
...               ...         ...  ...            ...    ...
2025      Sandy Weill       Weill   85  United States      M
2026      Wu Chung-yi          Wu   59         Taiwan      M
2027        Yao Xinyi         Yao   53          China      M
2028   Zhao Xiaoqiang        Zhao   51          China      M
2029     Zhu Xingming         Zhu   51          China      M

                wealthSource
0                     Amazon
1                  Microsoft
2         Berkshire Hathaway
3                       LVMH
4                   Facebook
...                      ...
2025               Citigroup
2026           manufacturing
2027        air conditioning
2028  fashion, entertainment
2029    electrical equipment

[1810 rows x 6 columns]

**è®¡ç®—å‡ºæ¯ä¸€ç»„ä¸­çš„æœ€å¤§å¹´çºªï¼Œæœ€å°å¹´çºªä»¥åŠå¹³å‡å¹´é¾„ã€‚**

In [45]:
import pandas as pd
df = pd.read_excel(path)
groups = df.groupby('gender')
for group_name,group_df in groups:
    f_mean = group_df['age'].mean()
    f_max = group_df['age'].max()
    f_min = group_df['age'].min()
    print('{}ç»„çš„æœ€å¤§å¹´é¾„æ˜¯{}ï¼Œæœ€å°å¹´é¾„æ˜¯{}ï¼Œå¹³å‡å¹´é¾„æ˜¯{}'.format(group_name,f_max,f_min,f_mean))

Fç»„çš„æœ€å¤§å¹´é¾„æ˜¯94ï¼Œæœ€å°å¹´é¾„æ˜¯21ï¼Œå¹³å‡å¹´é¾„æ˜¯60.470588235294116
Mç»„çš„æœ€å¤§å¹´é¾„æ˜¯99ï¼Œæœ€å°å¹´é¾„æ˜¯25ï¼Œå¹³å‡å¹´é¾„æ˜¯64.32099447513812

In [48]:
import pandas as pd
df = pd.read_excel(path)
groups = df.groupby('gender')
for group_name,group_df in groups:
#     print(group_name)
    print(group_df)

                              name            lastName  age        country  \
15                    Alice Walton              Walton   68  United States
17    Francoise Bettencourt Meyers  Bettencourt Meyers   64         France
31                 Susanne Klatten             Klatten   56        Germany
33                 Jacqueline Mars                Mars   78  United States
42                     Yang Huiyan                Yang   36          China
...                            ...                 ...  ...            ...
1989                  Sara Blakely             Blakely   47  United States
1999                 Huang Xiaofen               Huang   56          China
2017             Carolyn Rafaelian           Rafaelian   51  United States
2018                Alice Schwartz            Schwartz   91  United States
2030                      Zhuo Jun                Zhuo   52      Hong Kong

     gender            wealthSource
15        F                 Walmart
17        F                 L'Oreal
31        F    BMW, pharmaceuticals
33        F         candy, pet food
42        F             real estate
...     ...                     ...
1989      F                   Spanx
1999      F  printed circuit boards
2017      F                 jewelry
2018      F                 biotech
2030      F  printed circuit boards

[221 rows x 6 columns]
                 name    lastName  age        country gender  \
0          Jeff Bezos       Bezos   54  United States      M
1          Bill Gates       Gates   62  United States      M
2      Warren Buffett     Buffett   87  United States      M
3     Bernard Arnault     Arnault   69         France      M
4     Mark Zuckerberg  Zuckerberg   34  United States      M
...               ...         ...  ...            ...    ...
2025      Sandy Weill       Weill   85  United States      M
2026      Wu Chung-yi          Wu   59         Taiwan      M
2027        Yao Xinyi         Yao   53          China      M
2028   Zhao Xiaoqiang        Zhao   51          China      M
2029     Zhu Xingming         Zhu   51          China      M

                wealthSource
0                     Amazon
1                  Microsoft
2         Berkshire Hathaway
3                       LVMH
4                   Facebook
...                      ...
2025               Citigroup
2026           manufacturing
2027        air conditioning
2028  fashion, entertainment
2029    electrical equipment

[1810 rows x 6 columns]

### æŒ‰å¤šåˆ—è¿›è¡Œåˆ†ç»„

In [49]:
# å°†å¯Œè±ªä»¬å…ˆæŒ‰å›½å®¶åˆ†ç»„ï¼Œç„¶ååœ¨æŒ‰æ€§åˆ«åˆ†ç»„ã€‚
import pandas as pd
df = pd.read_excel(path)
group=df.groupby(['country','gender'])
df1 = group.size()
print(df1)

country        gender
Algeria        M           1
Angola         F           1
Argentina      M           5
Australia      F           9
               M          31
                        ...
United States  M         498
Venezuela      M           2
Vietnam        F           1
               M           3
Zimbabwe       M           1
Length: 103, dtype: int64

å½“éœ€è¦æŒ‰å¤šåˆ—è¿›è¡Œåˆ†ç»„çš„æ—¶å€™ï¼Œ`groupby`æ–¹æ³•é‡Œé¢æˆ‘ä»¬ä¼ å…¥çš„ä¸€ä¸ªåˆ—è¡¨ï¼Œåˆ—è¡¨ä¸­åˆ†åˆ«å­˜å‚¨åˆ†ç»„ä¾æ®çš„åˆ—åã€‚

æ³¨æ„ï¼šåˆ—è¡¨ä¸­åˆ—åçš„é¡ºåºï¼Œç¡®å®šäº†å…ˆæŒ‰`country`åˆ—è¿›è¡Œåˆ†ç»„ï¼Œç„¶åå†æŒ‰`gender`åˆ—åˆ†ç»„ã€‚ä¸åŒçš„é¡ºåºï¼Œäº§ç”Ÿçš„åˆ†ç»„åå­—æ˜¯ä¸åŒçš„ã€‚

`group.size()`è¿”å›çš„ç»“æœä¸­å‘ç°ç´¢å¼•å€¼æ˜¯å¤šå±‚çš„ï¼Œé‚£ä¹ˆå¯¹äºå¤šå±‚ç´¢å¼•çš„å€¼æˆ‘ä»¬å¦‚ä½•å»è·å–å‘¢ï¼Ÿ

In [50]:
group=df.groupby(['country','gender'])
df1 = group.size()
size = df1['Austria']['F']
print(size)

1

In [51]:
# é€šè¿‡ä»£ç ï¼Œæˆ‘ä»¬å‘ç°å¯¹äºå¤šå±‚ç´¢å¼•å€¼çš„è·å–ï¼Œåªéœ€è¦ä»å¤–å¾€é‡Œä¸€å±‚ä¸€å±‚çš„å–å°±å¯ä»¥äº†ï¼Œå°±åƒæˆ‘ä»¬ç¡è§‰ä¹‹å‰ï¼Œéœ€è¦å…ˆè„±å¤–è¡£å†è„±æ‰å†…è¡£æ˜¯ä¸€æ ·çš„ğŸ˜Šã€‚

### å¯¹åˆ†ç»„æ•°æ®è¿›è¡Œç»Ÿè®¡

æ•°æ®ç»Ÿè®¡ï¼ˆä¹Ÿç§°ä¸ºæ•°æ®èšåˆï¼‰æ˜¯æ•°æ®å¤„ç†çš„æœ€åä¸€æ­¥ï¼Œé€šå¸¸æ˜¯è¦ä½¿æ¯ä¸€ä¸ªæ•°ç»„ç”Ÿæˆä¸€ä¸ªå•ä¸€çš„æ•°å€¼ã€‚

ä¸Šé¢æˆ‘ä»¬å·²ç»äº†è§£äº†ä¸€äº›Pandasæä¾›å¥½çš„ç»Ÿè®¡å‡½æ•°ï¼Œä¾‹å¦‚:`mean()`ã€`max()`ç­‰å‡½æ•°ã€‚

ä¸ºå¤§å®¶ä½¿ç”¨æ›´ä¸ºçµæ´»ï¼Œpandasæä¾›äº†ä¸€ä¸ª `agg( )`æ–¹æ³•ç”¨æ¥å¯¹åˆ†ç»„åçš„æ•°æ®è¿›è¡Œç»Ÿè®¡ã€‚

æ¥ä¸‹æ¥æˆ‘ä»¬æ¥ä½“éªŒä¸€ä¸‹ï¼Œ`agg()`æ–¹æ³•çš„ä½¿ç”¨ï¼š

In [53]:
import pandas as pd
df = pd.read_excel(path)
groups = df.groupby('gender')
for group_name,group_df in groups:
    f_se = group_df['age'].agg(['max','min','mean'])
    print('{}ç»„çš„æœ€å¤§å¹´é¾„æ˜¯{}ï¼Œæœ€å°å¹´é¾„æ˜¯{}ï¼Œå¹³å‡å¹´é¾„æ˜¯{}'.format(group_name,f_se[0],f_se[1],f_se[2]))

Fç»„çš„æœ€å¤§å¹´é¾„æ˜¯94.0ï¼Œæœ€å°å¹´é¾„æ˜¯21.0ï¼Œå¹³å‡å¹´é¾„æ˜¯60.470588235294116
Mç»„çš„æœ€å¤§å¹´é¾„æ˜¯99.0ï¼Œæœ€å°å¹´é¾„æ˜¯25.0ï¼Œå¹³å‡å¹´é¾„æ˜¯64.32099447513812

è§‚å¯Ÿä¸Šé¢çš„ä»£ç ï¼Œå¯ä»¥å‘ç°åœ¨ä½¿ç”¨`agg()`å‡½æ•°æ—¶ï¼Œæˆ‘ä»¬å¯ä»¥å°†å¤šä¸ªç»Ÿè®¡å‡½æ•°ä¸€èµ·æ”¾åˆ°ä¸€ä¸ª`agg()`å‡½æ•°ä¸­ã€‚

å¹¶ä¸”éœ€è¦æ³¨æ„çš„æ˜¯ï¼Œå¦‚æœæ˜¯ç»Ÿè®¡å‡½æ•°æ˜¯pandasæä¾›çš„ï¼Œæˆ‘ä»¬åªéœ€å°†å‡½æ•°çš„åå­—ä»¥å­—ç¬¦ä¸²çš„å½¢åŠ¿å­˜å‚¨åˆ°åˆ—è¡¨ä¸­å³å¯ï¼Œä¾‹å¦‚ï¼šå°†`max()`æ”¹æˆ`'max'`ã€‚

è¿™æ ·ä¸ä»…ç®€åŒ–äº†æˆ‘ä»¬çš„ä»£ç ï¼Œåœ¨æ·»åŠ å’Œåˆ å‡ç»Ÿè®¡å‡½æ•°çš„æ—¶å€™æˆ‘ä»¬åªéœ€æ›´æ”¹`agg()`å‡½æ•°ä¸­listå°±å¯ä»¥äº†ã€‚æ˜¯ä¸æ˜¯å¾ˆæ–¹ä¾¿ã€‚

å®ƒçš„å¥½å¤„è¿˜ä¸æ­¢è¿™äº›ï¼Œæ¯”å¦‚ç°åœ¨åˆæœ‰æ–°çš„éœ€æ±‚ï¼Œè¦è®¡ç®—å¹´é¾„çš„æœ€å¤§å€¼å’Œæœ€å°å€¼çš„å·®å€¼ã€‚ä½†æ˜¯ï¼Œpandaså¹¶æ²¡æœ‰æä¾›è¿™æ ·ç»Ÿè®¡å‡½æ•°ï¼Œæ‰€ä»¥å°±éœ€è¦æˆ‘ä»¬è¿›è¡Œè‡ªå·±å®šä¹‰ä¸€ä¸ªç»Ÿè®¡å‡½æ•°ï¼š

In [54]:
def peak_range(df):
    """
        è¿”å›æ•°å€¼èŒƒå›´
    """
    return df.max() - df.min()

In [55]:
import pandas as pd
df = pd.read_excel(path)
groups = df.groupby('gender')
def peak_range(df):
    """
        è¿”å›æ•°å€¼èŒƒå›´
    """
    return df.max() - df.min()
for group_name,group_df in groups:
    f_se = group_df['age'].agg(['max','min','mean',peak_range])
    print(f_se[0],f_se[1],f_se[3])

94.0 21.0 73.0
99.0 25.0 74.0

`peak_range(df)`å‡½æ•°æ˜¯æˆ‘ä»¬è‡ªå®šçš„å‡½æ•°ï¼Œå¹¶è®¾ç½®äº†ä¸€ä¸ª`df`å‚æ•°,ä¸ºäº†æ¥æ”¶`group_df['age']`çš„å€¼ã€‚

**æ³¨æ„**ï¼šè‡ªå®šä¹‰çš„**å‡½æ•°åå­—**åœ¨ä¼ å…¥`agg()`å‡½æ•°ä¸­æ—¶**ä¸éœ€è¦è½¬æ¢æˆå­—ç¬¦ä¸²**ã€‚