In [1]:
# 根据公司的员工信息登记表数据，获取相关信息：

# 1. 获取工号为003~007的所有员工信息；
# 2. 获取所有员工的年龄和工资信息；
# 3. 查看一个你感兴趣员工的婚姻状况。

In [2]:
from pandas import Series,DataFrame

In [3]:
index_list = ['001','002','003','004','005','006','007','008','009','010']
name_list = ['李白','王昭君','诸葛亮','狄仁杰','孙尚香','妲己','周瑜','张飞','王昭君','大乔']
age_list = [25,28,27,25,30,29,25,32,28,26]
salary_list = ['10k','12.5','20k','14k','12k','17k','18k','21k','22k','21.5k']
marital_list = ['NO','NO','YES','YES','NO','NO','NO','YES','NO','YES']

In [4]:
dic={
    '姓名': Series(data=name_list,index=index_list),
    '年龄': Series(data=age_list,index=index_list),
    '薪资': Series(data=salary_list,index=index_list),
    '婚姻状况': Series(data=marital_list,index=index_list)
}

In [5]:
df = DataFrame(data=dic)
df

      姓名  年龄     薪资 婚姻状况
001   李白  25    10k   NO
002  王昭君  28   12.5   NO
003  诸葛亮  27    20k  YES
004  狄仁杰  25    14k  YES
005  孙尚香  30    12k   NO
006   妲己  29    17k   NO
007   周瑜  25    18k   NO
008   张飞  32    21k  YES
009  王昭君  28    22k   NO
010   大乔  26  21.5k  YES

In [7]:
# 1. 获取工号为003~007的所有员工信息；
df['003':'007']      # 使用索引值 + 切片语法，获取连续的数据

      姓名  年龄   薪资 婚姻状况
003  诸葛亮  27  20k  YES
004  狄仁杰  25  14k  YES
005  孙尚香  30  12k   NO
006   妲己  29  17k   NO
007   周瑜  25  18k   NO

In [9]:
# 2. 获取所有员工的年龄和工资信息；   # 某一行某一列的数据loc[]
df.loc[:,['姓名','年龄','薪资']]   # 选择连续的多行和间隔的多列

      姓名  年龄     薪资
001   李白  25    10k
002  王昭君  28   12.5
003  诸葛亮  27    20k
004  狄仁杰  25    14k
005  孙尚香  30    12k
006   妲己  29    17k
007   周瑜  25    18k
008   张飞  32    21k
009  王昭君  28    22k
010   大乔  26  21.5k

In [10]:
# 3. 查看一个你感兴趣员工的婚姻状况。
df.loc['009',['姓名','年龄','薪资','婚姻状况']]   # 某一行某一列的数据loc[]

姓名      王昭君
年龄       28
薪资      22k
婚姻状况     NO
Name: 009, dtype: object

#### 用三种方法获取遍历所有员工的薪水信息； 2. 获取最高薪水值。

In [42]:
from pandas import Series,DataFrame

# 使用字典创建
index_list = ['001','002','003','004','005','006','007','008','009','010']
name_list = ['李白','王昭君','诸葛亮','狄仁杰','孙尚香','妲己','周瑜','张飞','王昭君','大乔']
age_list = [25,28,27,25,30,29,25,32,28,26]
salary_list = ['10k','12.5k','20k','14k','12k','17k','18k','21k','22k','21.5k']
marital_list = ['NO','NO','YES','YES','NO','NO','NO','YES','NO','YES']
dic={
    '姓名': Series(data=name_list,index=index_list),
    '年龄': Series(data=age_list,index=index_list),
    '薪资': Series(data=salary_list,index=index_list),
    '婚姻状况': Series(data=marital_list,index=index_list)
    }

In [43]:
df = DataFrame(dic)
df

      姓名  年龄     薪资 婚姻状况
001   李白  25    10k   NO
002  王昭君  28  12.5k   NO
003  诸葛亮  27    20k  YES
004  狄仁杰  25    14k  YES
005  孙尚香  30    12k   NO
006   妲己  29    17k   NO
007   周瑜  25    18k   NO
008   张飞  32    21k  YES
009  王昭君  28    22k   NO
010   大乔  26  21.5k  YES

In [16]:
# 方法一：遍历薪水列
for value in df['薪资']:
    print(value)
print(type(value))

10k
12.5k
20k
14k
12k
17k
18k
21k
22k
21.5k
<class 'str'>

In [18]:
# 方法二：遍历薪水列
for index,row_data in df.iterrows():  # iterrows(): 按行遍历，将DataFrame的每一行转化为(index, Series)对。index为行索引值，Series为该行对应的数据
#     print(row_data)
    print(row_data['薪资'])

10k
12.5k
20k
14k
12k
17k
18k
21k
22k
21.5k

In [23]:
# 方法三：遍历薪水列
for col,col_data in df.iteritems():  # iteritems():按列遍历，将DataFrame的每一列转化为(column, Series)对。column为列索引的值，Series为该列对应的数据。¶
#     print(col)
#     print(col_data)
    if col == '薪资':
        print(col_data)

001      10k
002    12.5k
003      20k
004      14k
005      12k
006      17k
007      18k
008      21k
009      22k
010    21.5k
Name: 薪资, dtype: object

In [39]:
for col,col_data in df.iteritems(): 
    if col == '薪资':
#     print(col_data)
        for value in col_data:
            print(value)
            print([float(value[:len(value)-1])])

10k
[10.0]
12.5k
[12.5]
20k
[20.0]
14k
[14.0]
12k
[12.0]
17k
[17.0]
18k
[18.0]
21k
[21.0]
22k
[22.0]
21.5k
[21.5]

In [47]:
# 获取最大薪资
for col,col_data in df.iteritems(): 
    if col == '薪资':
        # 将薪资中的k去掉，并转化为float()类型
        list1 = [float(value[:len(value)-1])for value in col_data]
        # 排序
#         max_salary = sorted(list1)
        max_salary = sorted(list1,reverse=True)[0]
        print(max_salary)

22.0