## 题目要求：
    根据练习《众里寻她千百度》的信息，完成下面要求：
## 题目讲解：
    1. 用三种方法获取遍历所有员工的薪水信息； 
    2. 获取最高薪水值。
***
```
index_list = ['001','002','003','004','005','006','007','008','009','010']
name_list = ['李白','王昭君','诸葛亮','狄仁杰','孙尚香','妲己','周瑜','张飞','王昭君','大乔']
age_list = [25,28,27,25,30,29,25,32,28,26]
salary_list = ['10k','12.5','20k','14k','12k','17k','18k','21k','22k','21.5k']
marital_list = ['NO','NO','YES','YES','NO','NO','NO','YES','NO','YES']
dic={
    '姓名': Series(data=name_list,index=index_list),
    '年龄': Series(data=age_list,index=index_list),
    '薪资': Series(data=salary_list,index=index_list),
    '婚姻状况': Series(data=marital_list,index=index_list)
    }
df=DataFrame(dic)
```

In [2]:
from pandas import Series,DataFrame
index_list = ['001','002','003','004','005','006','007','008','009','010']
name_list = ['李白','王昭君','诸葛亮','狄仁杰','孙尚香','妲己','周瑜','张飞','王昭君','大乔']
age_list = [25,28,27,25,30,29,25,32,28,26]
salary_list = ['10k','12.5','20k','14k','12k','17k','18k','21k','22k','21.5k']
marital_list = ['NO','NO','YES','YES','NO','NO','NO','YES','NO','YES']
dic={
    '姓名': Series(data=name_list,index=index_list),
    '年龄': Series(data=age_list,index=index_list),
    '薪资': Series(data=salary_list,index=index_list),
    '婚姻状况': Series(data=marital_list,index=index_list)
    }
df=DataFrame(dic)

In [6]:
df

      姓名  年龄     薪资 婚姻状况
001   李白  25    10k   NO
002  王昭君  28   12.5   NO
003  诸葛亮  27    20k  YES
004  狄仁杰  25    14k  YES
005  孙尚香  30    12k   NO
006   妲己  29    17k   NO
007   周瑜  25    18k   NO
008   张飞  32    21k  YES
009  王昭君  28    22k   NO
010   大乔  26  21.5k  YES

In [3]:
# 获取工号为003~007的所有员工信息；
# 使用索引值+切片语法的组合，获取连续的数据  df[值1:值2]
df["003":"007"]

      姓名  年龄   薪资 婚姻状况
003  诸葛亮  27  20k  YES
004  狄仁杰  25  14k  YES
005  孙尚香  30  12k   NO
006   妲己  29  17k   NO
007   周瑜  25  18k   NO

In [4]:
# 获取所有员工的年龄和工资信息；
# 获取连续的多行和间隔的多列  loc[]   左侧是行 ， 右侧是列
# df.loc[:,["年龄","薪资"]]
df.loc[:,["姓名","年龄","薪资"]]

      姓名  年龄     薪资
001   李白  25    10k
002  王昭君  28   12.5
003  诸葛亮  27    20k
004  狄仁杰  25    14k
005  孙尚香  30    12k
006   妲己  29    17k
007   周瑜  25    18k
008   张飞  32    21k
009  王昭君  28    22k
010   大乔  26  21.5k

In [5]:
# 查看一个你感兴趣员工的婚姻状况。
# 获取某一行某一列的数据     loc[]
df.loc['009',['婚姻状况']]   # 同时拿到改数据所在列的列名

婚姻状况    NO
Name: 009, dtype: object

In [7]:
df

      姓名  年龄     薪资 婚姻状况
001   李白  25    10k   NO
002  王昭君  28   12.5   NO
003  诸葛亮  27    20k  YES
004  狄仁杰  25    14k  YES
005  孙尚香  30    12k   NO
006   妲己  29    17k   NO
007   周瑜  25    18k   NO
008   张飞  32    21k  YES
009  王昭君  28    22k   NO
010   大乔  26  21.5k  YES

In [ ]:
# 1. 用三种方法获取遍历所有员工的薪水信息； 
    # 1.df['薪资']   
    # 2.按行遍历，iterrows()   ———— >  (index,Series)  index为行索引值   Series为该行对应的数据
    # 3.按列去遍历，iteritems()  ———— >  (column,Series)  column为索引的值  Series为该列对应的数据

In [8]:
# 2. 获取最高薪水值。
    # 1.去掉 薪资数据中的  K
    # 2.排序  sorted()排序

In [11]:
# 1. 用三种方法获取遍历所有员工的薪水信息； 
    # 1.df['薪资'] 
for value in df["薪资"]:
    print(value)
print(type(value))

10k
12.5
20k
14k
12k
17k
18k
21k
22k
21.5k
<class 'str'>

In [17]:
# 2.按行遍历，iterrows()   ———— >  (index,Series)  index为行索引值   Series为该行对应的数据
for index ,row_data in df.iterrows():
#     print(index,row_data)
    print(row_data['薪资'])

10k
12.5
20k
14k
12k
17k
18k
21k
22k
21.5k

In [23]:
#  3.按列去遍历，iteritems()  ———— >  (column,Series)  column为索引的值  Series为该列对应的数据
for col,col_data in df.iteritems():
#     print(col)
#     print(col_data)
#     print(col,col_data)
    if col == "薪资":
        print(col_data)

001      10k
002     12.5
003      20k
004      14k
005      12k
006      17k
007      18k
008      21k
009      22k
010    21.5k
Name: 薪资, dtype: object

In [24]:
# 2. 获取最高薪水值。
    # 1.去掉 薪资数据中的  K
    # 2.排序  sorted()排序

In [36]:
for col,col_data in df.iteritems():
#     print(col)
#     print(col_data)
#     print(col,col_data)
    if col == "薪资":
        for value in col_data:
#             print(value)
#             print(len(value))
#             print(len(value)-1)
#             print(value[:len(value)-1])
            print(float(value[:len(value)-1]))

10.0
12.0
20.0
14.0
12.0
17.0
18.0
21.0
22.0
21.5

In [37]:
for col,col_data in df.iteritems():
    if col == "薪资":
        for value in col_data:
            data = float(value[:len(value)-1])
            print(data)

10.0
12.0
20.0
14.0
12.0
17.0
18.0
21.0
22.0
21.5

In [40]:
for col,col_data in df.iteritems():
    if col == "薪资":
        data = [float(value[:len(value)-1])for value in col_data]   # 列表推导式
        print(data)
        # 排序
        max_salary = sorted(data)
        print(max_salary)

[10.0, 12.0, 20.0, 14.0, 12.0, 17.0, 18.0, 21.0, 22.0, 21.5]
[10.0, 12.0, 12.0, 14.0, 17.0, 18.0, 20.0, 21.0, 21.5, 22.0]

In [41]:
for col,col_data in df.iteritems():
    if col == "薪资":
        data = [float(value[:len(value)-1])for value in col_data]   # 列表推导式
        print(data)
        # 排序
        max_salary = sorted(data,reverse=True)  # 列表排序反转
        print(max_salary)

[10.0, 12.0, 20.0, 14.0, 12.0, 17.0, 18.0, 21.0, 22.0, 21.5]
[22.0, 21.5, 21.0, 20.0, 18.0, 17.0, 14.0, 12.0, 12.0, 10.0]

In [43]:
for col,col_data in df.iteritems():
    if col == "薪资":
        data = [float(value[:len(value)-1])for value in col_data]   # 列表推导式
        print(data)
        # 排序
        max_salary = sorted(data,reverse=True)[0]  # 列表排序反转
        print("最高薪资是：{}".format(max_salary))

[10.0, 12.0, 20.0, 14.0, 12.0, 17.0, 18.0, 21.0, 22.0, 21.5]
最高薪资是：22.0