**题目要求：**

本次练习我们继续使用2017中国城市分级名单数据，共有300多条电影数据，每条数据包含7列信息，
文件的路径为`./data/china_city_list.xlsx`，以下是数据的基本详情：
- City: 城市中文名称缩写
- City_FullName: 城市中文全称
- City_EN: 城市英文名称
- Province: 省中文名
- Province_EN：省英文名
- Region：区域划分（西、南、东、北）
- Tier：城市等级（一线、二线、三线、四线、五线）

根据上面的数据，计算出我国各个区域内不同等级城市的占比是多少？

In [3]:
import pandas as pd
data = pd.read_excel('../data/china_city_list.xlsx')
data

     City City_Admaster      City_EN Province   Province_EN Region    Tier
0     七台河          七台河市      Qitaihe      黑龙江  Heilongjiang  North  Tier 5
1      三亚           三亚市        Sanya       海南        Hainan  South  Tier 3
2      三明           三明市      Sanming       福建        Fujian   East  Tier 3
3     三门峡          三门峡市    Sanmenxia       河南         Henan  North  Tier 5
4      上海           上海市     Shanghai       上海      Shanghai   East  Tier 1
..    ...           ...          ...      ...           ...    ...     ...
340   黔东南    黔东南苗族侗族自治州  Qiandongnan       贵州       Guizhou   West  Tier 5
341    黔南    黔南布依族苗族自治州      Qiannan       贵州       guizhou   West  Tier 5
342   黔西南   黔西南布依族苗族自治州    Qianxinan       贵州       Guizhou   West  Tier 5
343  齐齐哈尔         齐齐哈尔市      Qiqihar      黑龙江  Heilongjiang  North  Tier 3
344    龙岩           龙岩市      Longyan       福建        Fujian   East  Tier 3

[345 rows x 7 columns]

In [7]:
# 根据区域和等级分组
groups = data.groupby(['Region','Tier'])
groups.size()

Region  Tier
East    Tier 1      5
        Tier 2     12
        Tier 3     18
        Tier 5     16
North   Tier 1      5
        Tier 2      6
        Tier 3     25
        Tier 5     70
South   Tier 1      4
        Tier 2      7
        Tier 3     15
        Tier 5     37
West    Tier 1      3
        Tier 2      4
        Tier 3     10
        Tier 5    108
dtype: int64

In [15]:
# 计算出所有区域内各个等级城市的数量
groups_count = groups.count()
groups_count

               City  City_Admaster  City_EN  Province  Province_EN
Region Tier
East   Tier 1     5              5        5         5            5
       Tier 2    12             12       12        12           12
       Tier 3    18             18       18        18           18
       Tier 5    16             16       16        16           16
North  Tier 1     5              5        5         5            5
       Tier 2     6              6        6         6            6
       Tier 3    25             25       25        25           25
       Tier 5    70             70       70        70           70
South  Tier 1     4              4        4         4            4
       Tier 2     7              7        7         7            7
       Tier 3    15             15       15        15           15
       Tier 5    37             37       37        37           37
West   Tier 1     3              3        3         3            3
       Tier 2     4              4        4         4            4
       Tier 3    10             10       10        10           10
       Tier 5   108            108      108       108          108

In [18]:
# 获取分组后的索引
index_list = groups_count.index.tolist()
index_list

[('East', 'Tier 1'),
 ('East', 'Tier 2'),
 ('East', 'Tier 3'),
 ('East', 'Tier 5'),
 ('North', 'Tier 1'),
 ('North', 'Tier 2'),
 ('North', 'Tier 3'),
 ('North', 'Tier 5'),
 ('South', 'Tier 1'),
 ('South', 'Tier 2'),
 ('South', 'Tier 3'),
 ('South', 'Tier 5'),
 ('West', 'Tier 1'),
 ('West', 'Tier 2'),
 ('West', 'Tier 3'),
 ('West', 'Tier 5')]

In [19]:
for value_tuple in index_list:
    # 区域内所有等级城市的总数量
    all_count = groups_count.loc[value_tuple[0]]['City'].sum()

    # 区域内各个城市等级的数量
    t_count = groups_count.loc[value_tuple[0],value_tuple[1]]['City']
    
    accounted = "%.2f%%" % (t_count/all_count * 100)
    
    print('{}所有城市中{}城市的占比是{}'.format(value_tuple[0],value_tuple[1],accounted))

East所有城市中Tier 1城市的占比是9.80%
East所有城市中Tier 2城市的占比是23.53%
East所有城市中Tier 3城市的占比是35.29%
East所有城市中Tier 5城市的占比是31.37%
North所有城市中Tier 1城市的占比是4.72%
North所有城市中Tier 2城市的占比是5.66%
North所有城市中Tier 3城市的占比是23.58%
North所有城市中Tier 5城市的占比是66.04%
South所有城市中Tier 1城市的占比是6.35%
South所有城市中Tier 2城市的占比是11.11%
South所有城市中Tier 3城市的占比是23.81%
South所有城市中Tier 5城市的占比是58.73%
West所有城市中Tier 1城市的占比是2.40%
West所有城市中Tier 2城市的占比是3.20%
West所有城市中Tier 3城市的占比是8.00%
West所有城市中Tier 5城市的占比是86.40%