In [15]:
import pandas as pd

In [16]:
path = "/Users/jiazhixiang/Desktop/hobby.xlsx"

In [17]:
df = pd.read_excel(path)
df

   姓名  年龄          爱好
0  小红  18    跳舞，唱歌，钢琴
1  小胖  20  唱,跳,rap,篮球
2  小花  19       古筝,翻译

In [18]:
df = df.set_index(["姓名", "年龄"])["爱好"].str.split(",", expand=True).stack().reset_index(drop=True, level=-1).reset_index().rename(columns={0: "爱好"})
print(df)

   姓名  年龄        爱好
0  小红  18  跳舞，唱歌，钢琴
1  小胖  20         唱
2  小胖  20         跳
3  小胖  20       rap
4  小胖  20        篮球
5  小花  19        古筝
6  小花  19        翻译

In [ ]:
import pandas as pd
path = "/Users/jiazhixiang/Desktop/hobby.xlsx"
df = pd.read_excel(path)
# df
df = df.set_index(["姓名", "年龄"])["爱好"].str.split(",", expand=True).stack().reset_index(drop=True, level=-1).reset_index().rename(columns={0: "爱好"})
print(df)